/** @format */

.main {
	position: absolute;
	margin-top: 10px;
	width: 100%;
	height: 91vh;
	background-color: #11a268;
}

.mainText {
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.mainText h1 {
	margin-top: 100px;
	font-size: 42px;
	font-weight: 300;
	color: #fff;
}

.mainText h2 {
	text-decoration: underline;
	font-weight: 400;
	color: #fff;
}